
@font-face {
  font-family: quick;
  src: url(../fonts/Quicksand_Bold.ttf);
}

body{
    background-color: #26252A;
    text-align: center;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   /*height:15%;*/
   width:100%;
   background: black;
   z-index: 150;
}

.container {
    margin: 0 auto;
    /* max-width: 1280px; */
    /* width: 90%; */
}

.row {
    margin-left: auto;
    margin-right: auto;
     margin-bottom: 0px; 
    height: 100%;
}
.app{
    margin-top: 85px;
}
#top-menu{
    position: fixed;
    height: 85px;
    width: 100%;
    background-color: #26252A;
    text-align: center;
    padding-bottom: 20%;
    z-index: 10;
}

h1{
    font-size: 42px;
    color : white;
    font-family: quick;
}
li {
  list-style: none;
  background: #d2b906;
  color: #fff;
  height: 0;
  line-height: 2em;
  margin: 0;
  padding: 0 0.5em;
  overflow: hidden;
  width: fit-content;
}

li.show {
  height: 2em;
  margin: 2px 0;
}
.swing li {
  opacity: 0;
  transform: rotateX(-90deg);
  transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.swing li.show {
  opacity: 1;
  transform: none;
  transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.item-right{
    position: relative;
    float: right;
}

#intro{
    color : white; font-family : quick;
}

p{
    color : white; font-family : quick;
}

.btn{
    background-color: #d2b906;
}
.btn:hover{
    background-color: #938100;
}

.btn {
   width: 100%;
}